https://github.com/funkelab/daisy/archive/0.3-dev.zip
https://github.com/funkelab/funlib.learn.torch/archive/master.zip
https://github.com/funkelab/funlib.math/archive/master.zip
https://github.com/rhoadesScholar/gunpowder/archive/raygun-dev2.zip
matplotlib
neuroglancer==2.22
numcodecs==0.9.1
numpy==1.21.2
opencv-python
pandas
Pillow
pymongo==3.12.0
scikit-image==0.18.3
scipy==1.7.1
tensorboard
tensorboardX
torch
torchvision
tqdm
zarr
